* {
    border: 0px;
    padding: 0px;
    box-sizing:border-box;
}

container {
    background-color: grey;
    display: flex;
    width: 308px;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 188px;
    position: relative;
}

div {
    background-color: orangered;
    border: 2px solid black;
    width: 100px;
    height: 60px;
    flex-direction: row;
    margin-left: 2px;
    margin-top: 2px;
}

.move {

}

p {
    width: 100%;
    text-align: center;
}