.body {
    margin: 0px;
}

.yellow {
    background-color: #ffff00;
    border: 4px solid black;
    width: 240px;
    height: 70px;
    margin: 0px;
    padding: 0px;    
}

.blue {
    background-color: #00ffff;
    border: 4px solid black;
    width: 240px;
    height: 70px;
    margin: 0px;
    padding: 0px; 
}

.fruits {
    height: 234px;
    width: 247px;
    background-color: #018000;
    border: 0px solid white;
    margin-left: 49px;
    margin-top:34px;
    margin-bottom: 10px;
    padding:20px;
    
}


    
    


.vegetables {
    height: 234px;
    width: 247px;
    background-color: #018000;
    border: 0px solid white;
    margin-left: 49px;
    margin-top:10px;
    margin-bottom: 40px;
    padding: 20px;
}



.vegetables {
    
}

.yellow p {
    font-size: 30px;
    color: #10138c;
    padding-left: 18px;
    padding-top: 22px;
    margin: 0px;
    font-weight:300;
}

.blue p {
    font-size: 30px;
    color: #ff0917;
    padding-left: 18px;
    padding-top: 22px;
    margin: 0px;
    font-weight:300;
}